You've been invited to an event through MeetMe.com, <%= @user.name %>.
========================================

As a friendly reminder, your username is: <%= @user.email %>.

<!-- To login to the site, just follow this link: <%= @url %>. -->

Click here to respond to your MeetMe.com invite.

MeetMe Poll

    <%= form_tag '/polls/:poll_id/users', method: :post do %>
    <div>
      <select name="Meeting Option 1">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="Maybe">Maybe</option>
      </select>
    </div>
      
    <div>
      <select name="Meeting Option 2">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="Maybe">Maybe</option>
      </select>
    </div>
      
    <div>
      <select name="Meeting Option 3">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="Maybe">Maybe</option>
      </select>
    </div>
     
    <div>
      <select name="Meeting Option 4">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="Maybe">Maybe</option>
      </select>
    </div>
      <%= submit_tag "Save" %>
    <% end %>