<section>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="border">
          <div class="border" style="background-color: #fff; padding: 0;">
            <h1 style="color: #000000;">Welcome to MeetMe</h1>
          </div>
          <h3>We make meeting up easy, so you can focus on fun!</h3>
          <p>Create a meeting and invite people to your event, or just quickly respond to an invite.</p>
        </div><br>
        <div class="well">
            <h3>Sign Up</h3><br>
              <%= form_tag '/users', method: :post do %>
              <div class="form-group">
                <!-- # <%= label_tag :name %> -->
              <p>Name <%= text_field_tag :name, nil, class: "form-control" %></p>            
              <div class="form-group">
                <!-- # <%= label_tag :email %> -->
              <p>Email <%= email_field_tag :email, nil, class: "form-control" %></p>
              </div>
              <div class="form-group"> 
                <!-- # <%= label_tag :password %> -->
              <p>Password <%= password_field_tag :password, nil, class: "form-control" %></p>
              </div>
              <div class="form-group">
                <!-- # <%= label_tag :password_confirmation %> -->
              <p>Password Confirmation <%= password_field_tag :password_confirmation, nil, class: "form-control" %></p>
              </div>
                <%= submit_tag "Submit", class: "btn btn-success" %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</section>
