<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="user_single">
        <h1>Edit Meeting</h1>
        <%= form_tag "/polls/#{@poll.id}", method: :patch do %>
          <div class="form-group">
          Title: <input type="text" name="title" value="<%= @poll.title %>">
          </div>
        <% end %>
        <%= form_tag "/polls/#{@poll.id}", method: :patch do %>
          <div class="form-group">
          Location: <input type="text" name="location" value="<%= @poll.location %>">
          </div>
        <% end %>
        <%= form_tag "/polls/#{@poll.id}", method: :patch do %>
          <div class="form-group">
          Invitees: <input type="text" name="email" value="<%= @poll.user.email %>">
          </div>
        <% end %>
        <%= form_tag "/polls/#{@poll.id}", method: :patch do %>
          <div class="form-group">
          Status: <input type="text" name="status" value="<%= @poll.status %>">
          </div>
          <input type="submit" value="Update meeting">
        <% end %>
      </div>
    </div>
  </div>
</section>
  
     


          

