<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="user_single">
        <div class="well">
          <div class="edit">
            <h1>Edit Meeting</h1>
            </div>
            <p>Make changes to details about your meeting, delete time options, add invitees, or delete the meeting.</p>
            <div class="form-group">
              <p>Times</p>
              <ul>
                <% @poll.appts.each do |appt| %>
                <div class="bullet">
                  <li><p><%= link_to appt.friendly_slot + " - Delete", "/appts/#{appt.id}", {method: :delete } %></p></li></div>
                <% end %>
              </ul>
            </div>

            <%= form_tag "/polls/#{@poll.id}", method: :patch do %>

              <div class="form-group">
              <p>Title <input type="text" name="title" value="<%= @poll.title %>"></p>
              </div>
            
              <div class="form-group">
              <!--   <%= label_tag :address %> -->
              <p>Address <%= text_field_tag :address, @poll.address, class: "form-control" %></p>
              </div>
              <div class="form-group">
               <!--  # <%= label_tag :city %> -->
              <p>City <%= text_field_tag :city, @poll.city, class: "form-control" %></p>
              </div>
              <div class="form-group">
               <!--  <%= label_tag :state %> -->
              <p>State <%= select_tag :state, options_for_select(states_list, @poll.state) %></p>
              </div>
          <!-- <div class="form-group">
          Invitee Email: <input type="text" name="email" value="<%= @poll.user.email %>">
          </div> -->

              <div class="form-group">
                <%= hidden_field_tag :poll_response_id, @poll_response_id %>
              <p>Invite List <%= email_field_tag :email, @poll.user.email, class: "form-control" %></p>
              </div>
      
              <%= submit_tag "Save Changes", class: "btn btn-success" %>
          
         <!--  <input type="submit" value="Save Changes">  --> 
              <% if @poll.user.id == current_user.id %>
                <%= link_to "Delete Meeting", "/polls/#{@poll.id}", {method: :delete,  class: "btn btn-danger" }%>
              <% end %>
            <% end %>
          </div>
        </div>
      
    </div>
  </div>
</section>


     

