<section>
<% if @polls.empty? %>
  <p>
    Aw, bummer! You have no meetings created yet. <%= link_to "Create meeting", new_poll_url %>
  </p>
<% end %>
<h2> Created Meetings </h2>
<% @polls.each do |poll| %>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="poll_many">
        <h2> <%= poll.id %></h2>
        <h2> <%= poll.title %></h2>
      </div>
    </div>
  </div>
<% end %>

<h2> Your Responses </h2>
<% @responses.each do |response| %>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="poll_many">
        <h2> <%= response.id %></h2>
        <h2> <%= response.title %></h2>
      </div>
    </div>
  </div>
<% end %>
<br>
<%= link_to "Edit meeting", @polls_edit, class: "btn btn-primary" %>
</br>
<br>
<%= link_to "Edit response", @responses_url, class: "btn btn-primary" %>
</br>
</section>
