<section>
  <div class="row">
    <div class="col-md-12">
    <div class="column-left">
      <div class="thumbnail well">
        <h2> Meetings You Created </h2>
        <p>Click on a meeting name to view its details.</p>
        <% if @polls.empty? %>
          <p>You have no meetings created yet.<br><%= link_to "Create meeting", new_poll_url, class: "btn btn-primary" %></p>
        <% end %>
          <% @polls.each do |poll| %>
            <ul style="list-style-type:none">
                <li><h4>                                              
                    <%= link_to poll.title, "/polls/#{poll.id}", class: "title" %> <%= link_to "Edit", edit_poll_url(poll), class: "btn btn-warning button" %>
                    <% if poll.user.id == current_user.id %>
                      <%= link_to "Invite", "/polls/#{poll.id}/invite", class: "btn btn-primary" %>
                      <%= link_to "Finalize", "/polls/#{poll.id}/finalize", class: "btn btn-success" %></h4></li>
                  <% end %>
            </ul>           
          <% end %>
      </div>
    </div>
    
    <div class="column-right">
      <div class="thumbnail well">
        <h2> You've Been Invited </h2><br>
          <ul style="list-style-type:none">
            <% @response_polls.each do |response_poll| %>
              <li><h4 style="font-weight: 600;"><%= response_poll.title %>
                      <%= link_to "RSVP", "/polls/#{response_poll.id}", class: "btn btn-primary" %></h4></li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</section>
