<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="user_single">
        <div class="well">
          <h1 style="color: #ffffff;">Create a Meeting</h1>
            <%= form_tag '/polls', method: :post do %>
            <div class="form-group">
              <!-- # <%= label_tag :title %> -->
            <p>Title <%= text_field_tag :title, nil, class: "form-control" %></p>
            </div>
            <div class="form-group">
              <!-- # <%= label_tag :address %> -->
            <p>Address <%= text_field_tag :address, nil, class: "form-control" %></p>
            </div>
            <div class="form-group">
              <!-- # <%= label_tag :city %> -->
            <p>City <%= text_field_tag :city, nil, class: "form-control" %></p>
            </div>
            <div class="form-group">
              <!-- # <%= label_tag :state %> -->
            <p>State <%= select_tag :state, options_for_select(states_list, "IL") %></p>
            </div><br>
            <div class="form-group">
              <p>Please enter a list of emails separated by commas.</p>
              <p>Invite List <%= text_field_tag :invitees, nil, class: "form-control" %></p>
            </div>
              <%= submit_tag "Save", class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

