<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="user_single">
        <h1>Create a Meeting</h1>
          <%= form_tag '/polls', method: :post do %>
          <div class="form-group">
            <%= label_tag :title %>
            <%= text_field_tag :title, nil, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :address %>
            <%= text_field_tag :address, nil, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :city %>
            <%= text_field_tag :city, nil, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :state %>
            <%= select_tag :state, options_for_select(states_list, "IL") %>
          </div>
          <div class="form-group">
            <%= label_tag :invitees %>
            <%= email_field_tag :email, nil, class: "form-control" %>
          </div>
            <%= submit_tag "Save & Choose Dates", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>

