<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="poll_single"><div>

      </div>
      <div>
      <h2>Meeting Details</h2>
      Title: <%= @poll.title %>
      <p>Address</p>
      <%= @poll.address %>
      <p>City</p>
      <%= @poll.city %>
      <p>State</p>
      <%= @poll.state %>
  <!--     <%= @poll.invitee %> -->
      </div>
      <div>
      <h4>Ready for another meeting? <%= link_to "Create meeting", new_poll_url, class: "btn btn-primary" %></h4>
      </div>
        <%= link_to "Home", polls_url, class: "btn btn-primary" %>
        <!-- <div>
          <h3>Finalize meeting time <%= link_to "Finalize meeting", poll_url, class: "btn btn-primary" %></h3>
        </div> -->
        <% if @poll.user.id == current_user.id %>
          <%= link_to "Finalize", "/polls/#{@poll.id}/finalize", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</section>


