<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="poll_single">
        <!-- <div style="display: inline-block; text-align: left"> -->
          <div class="well">
            <h3>Meeting Details</h3>
            <p>Title: <%= @poll.title %></p>
            <p>Address: <%= @poll.address %></p>
            <p>City: <%= @poll.city %></p>
            <p>State: <%= @poll.state %></p>
    
            <div class="form-group">
                <%= hidden_field_tag :poll_response_id, @poll_response_id %>
              <p>Invitee List: <%= email_field_tag :email, @poll.user.email, class: "form-control" %></p>
            </div>
            
            <% if @poll.finalized? %>
              <h2 class="red"><%= @poll.final_time %></h2>
              <br>
              <% if current_user.id == @poll.admin_id %>
                <p>Ready for another meeting? <%= link_to "New", new_poll_url, class: "btn btn-primary" %></p>
              <% end %>
            <% else %>
              <h3>Time(s)</h3>
              <% if current_user.id == @poll.admin_id %>
                <% @poll.appts.each do |appt| %>
                  <p><%= appt.friendly_slot %></p>
                <% end %>
              
                <%= link_to "Add Another Time Option", "/appts/new?poll_id=#{@poll.id}", class: "btn btn-warning" %>
                <%= link_to "View Responses", "/polls/#{@poll.id}/finalize", class: "btn btn-primary" %>

              <% else %>
                <%= form_tag "/responses", method: :post do %>
                  <%= hidden_field_tag :poll_id, @poll.id %>
                  <% @poll.appts.each do |appt| %>
                    <div>
                      <%= appt.scheduled_slot.strftime('%A - %B %e, %l:%M %p') %> - 
                      <select name="appts[<%= appt.id %>]">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        <option value="Maybe">Maybe</option>
                      </select>
                    </div>
                    <br>
                  <% end %>

                  <%= submit_tag "Send Responses", class: "btn btn-primary" %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</section>


