<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <div class="well">
  <body>
    <h3>You've been invited to an event through MeetMe.com, <%= @user.name %>.</h3>
   <!--  <p>To login to the site, click here: <%= @url %>.</p> -->
    <p>Respond to your invite.</p>
      <%= form_tag '/responses', method: :post do %>
      <div>
      <%= link_to "create", "/responses", method: :create %>
        <div>
          <%= @poll.appts.first.scheduled_slot %>
          <select name="Meeting Option 1">
            <%#= @appt.poll_day_month %>
            <%#= @appt.time_1 %>
            <%#= @appt.task, @appt.started_at %>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            <option value="Maybe">Maybe</option>
          </select>
        </div>
      </div>
        
      <h3>Meeting Details</h3>
      <p>Title: <%= @poll.title %></p>
      <p>Address: <%= @poll.address %></p>
      <p>City: <%= @poll.city %></p>
      <p>State: <%= @poll.state %></p>

      <div>
        <select name="Meeting Option 2">
          <%#= @appt.date_2 %>
          <%#= @appt.poll_day_month %>
          <%#= @appt.time_2 %>
          <%#= @appt.task, @appt.started_at %>
          <%= @poll.appts.first.scheduled_slot2 %>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
          <option value="Maybe">Maybe</option>
        </select>
      </div>
        
      <div>
        <select name="Meeting Option 3">
         <%= @poll.appts.first.scheduled_slot3 %>
          <%#= @appt.date_3 %>
          <%#= @appt.poll_day_month %>
          <%#= @appt.time_3 %>
          <%#= @appt.task, @appt.started_at %>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
          <option value="Maybe">Maybe</option>
        </select>
      </div>

        <%= submit_tag "Save response" %>
      <% end %>
  </body>
  </div>
</html>










