<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <div class="well">
  <body>
    <h2><strong>You've been invited to an event, <%= @user.name %>.</strong></h2>  
      <h3><strong>Meeting Details</strong></h3>
      <p>Title: <%= @poll.title %></p>
      <p>Address: <%= @poll.address %></p>
      <p>City: <%= @poll.city %></p>
      <p>State: <%= @poll.state %></p>

      <div>
        <%= form_tag '/responses', method: :post do %>
      <div>
       <%#= link_to "create", "/responses", method: :create %>
        <div>
          <%= @poll.appts.first.scheduled_slot %>
          <select name="Meeting Option 1">
            <%#= @appt.poll_day_month %>
            <%#= @appt.time_1 %>
            <%#= @appt.task, @appt.started_at %>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            <option value="Maybe">Maybe</option>
          </select>
        </div>
      </div><br>
      
      <div>
        <%= @poll.appts.first.scheduled_slot %>
        <select name="Meeting Option 2">
          <%#= @appt.date_2 %>
          <%#= @appt.poll_day_month %>
          <%#= @appt.time_2 %>
          <%#= @appt.task, @appt.started_at %>
          
          <option value="Yes">Yes</option>
          <option value="No">No</option>
          <option value="Maybe">Maybe</option>
        </select>
      </div><br>
        
      <div>
        <%= @poll.appts.last.scheduled_slot %>
        <select name="Meeting Option 3">
          <%#= @appt.date_3 %>
          <%#= @appt.poll_day_month %>
          <%#= @appt.time_3 %>
          <%#= @appt.task, @appt.started_at %>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
          <option value="Maybe">Maybe</option>
        </select>
      </div>
      <br>
        <%= submit_tag "Save response", class: "btn btn-success" %>
      <% end %>
  </body>
  </div>
</html>










