<h1>Appts Edit</h1>

<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="poll_single">
      <h1>Edit Meeting Time(s)</h1>
        <%= form_tag '/appts', method: :patch do %>
          <% hidden_field_tag :poll_id, @poll.id %>
          <div class="form-group">
            <%= label_tag :date%>
            <%= date_field :scheduled_slot, @appt.scheduled_slot, class: "form-control" %>
          </div>
          <div>
            <%= label_tag :time %>
            <%= time_field :time, :started_at, min: @appt.scheduled_slot %>
          </div>
          <br>
            <%= submit_tag "Save Updated Time", class: "btn btn-success" %>
          <% end %>
          </br>
        </div>
      </div>
    </div>
</section>