<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="poll_single">
      <h1>Choose Meeting Time(s)</h1>
      <h2>Enter a single date for a meeting, or select several dates from which your invitees can choose.</h2>
        <%= form_tag '/appts', method: :post do %>
          <div class="form-group">
            <%= label_tag :date_1 %>
            <%= date_field :poll_day_month, nil, class: "form-control" %>
          </div>
          <div>
            <%= label_tag :time_1 %>
            <%= time_field :task, :started_at %>
          </div>
           <div class="form-group">
            <%= label_tag :date_2 %>
            <%= date_field :poll_day_month, nil, class: "form-control" %>
          </div>
          <div>
            <%= label_tag :time_2 %>
            <%= time_field :task, :started_at %>
          </div>
           <div class="form-group">
            <%= label_tag :date_3 %>
            <%= date_field :poll_day_month, nil, class: "form-control" %>
          </div>
          <div>
            <%= label_tag :time_3 %>
            <%= time_field :task, :started_at %>
          </div>
           <div class="form-group">
            <%= label_tag :date_4 %>
            <%= date_field :poll_day_month, nil, class: "form-control" %>
          </div>
          <div>
            <%= label_tag :time_4 %>
            <%= time_field :task, :started_at %>
          </div>
            <%= submit_tag "Save Meeting & Send Invites", class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
</section>

   





